@page "/"

<h1>Система хранения и перемещения книг</h1>
<p class="lead">Приложение помогает вести учет школьной библиотеки: книги, экземпляры, читатели, выдача, возврат и перемещение фонда.</p>

<section class="cards">
    <a class="card" href="/books"><b>Каталог книг</b><span>Поиск и добавление изданий</span></a>
    <a class="card" href="/copies"><b>Экземпляры</b><span>Инвентарные номера и статусы</span></a>
    <a class="card" href="/readers"><b>Читатели</b><span>Ученики, учителя и сотрудники</span></a>
    <a class="card" href="/loans"><b>Выдача</b><span>Выдача и возврат книг</span></a>
    <a class="card" href="/transfers"><b>Перемещения</b><span>История смены места хранения</span></a>
</section>
